{% extends 'base.html.twig' %}

{% block title %}Compte - BD Commerce
{% endblock %}

{% block content %}
	<div class="text-center">
		<h3>Votre compte</h3>
		<hr>
		<a href="{{ path('panier') }}">Mon panier</a><br>
		<a href="{{ path('commande') }}">Mes commandes</a>
	</div>

{% endblock %}
