{% extends 'base.html.twig' %}

{% block title %}Commande - BD Commerce
{% endblock %}

{% block content %}
	{% if commandes is defined %}
		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID Commande</th>
					<th scope="col">Date de commande</th>
					<th scope="col">Total</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for com in commandes %}
					<tr>
						<td>{{ com.id }}</td>
						<td>{{ com.createAt|date('d/m/Y') }}</td>
						<td>{{ com.total }}€</td>
						<td>
							<a href="{{ path('commande_detail', {'reference' : com.reference}) }}" class="btn btn-info">Details</a>
						</td>
						<td></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="text-center">
			Vous n'avez pas de Commandes
		</p>
	{% endif %}

{% endblock %}
